.link {
  display: block;
  width: max-content;
  margin: 30px auto;
  font-size: 20px;
  text-align: center;
  color: #4481c3;

  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  text-decoration: underline;
}
